.banner{
    .container{
        height: 100%;
    }
    background: url(../images/home-header.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 787px;
    color: $secondary;
    @include pad(){
        padding: 0px 24px;
        background: url(../images/home-header-sm.png);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }
    @include mobile(){
        padding: 0 14px;
        height: 396px;
    }
    h2{
        font-size: 36px;
        line-height: 1.5;
        @include pad(){
            font-size:$font-sm;
        }      
    }
    h4{
        font-size: 64px;
        line-height: 1.5;
        font-weight: 900;
        @include pad(){
            font-size: $font-md;
        }
    }
    .banner-bottom{
        margin-top: 10px;
        background:$primary;
        color:white;
        padding: 6px 12px;
        font-size: 20px;
        line-height: 1.5;
        &:hover{
            background-color: white;
            color:$primary;
        }
        @include mobile(){
            margin-top: 8px;
        }
    }
    }

.special{
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: #FBF2F2;
   @include pad(){
    padding-top: 40px;
    padding-bottom: 40px;
   }
    h5{
        font-size: $font-md;
        line-height: 1.5;
        color: $secondary;
        font-weight: 700;
        margin-top: 24px;
    }
    p{
        font-size: $font-sm;
        line-height: 1.5;
        text-align: left;
        margin-top: 8px;
    }
    .special-card{
        margin-top: 24px;
        column-gap: 24px;
        @media(max-width:925px){
            row-gap:36px;
        }
        @include pad(){
            margin-top: 32px;
        }
        img{
            width: 100px;
            height: 100px;
        }

      
    }
    .special-card li{
        width: 23%;
       @media(max-width:925px){
        width: 48%;
       }
       @media(max-width:625px){
        width: 100%;
       }
    }
}

.classic{

    padding-top: 80px;
    padding-bottom: 80px;
    @include pad(){
        padding-top: 40px;
        padding-bottom: 40px;
       }
    
    .classic-card{
        margin-top: 48px;
        column-gap: 24px;       
        @media(max-width:1080px){
            row-gap: 24px;
        }
        li{
            @media(max-width:1080px){
                width: 100%;
            }
        } 
        a:hover{
            opacity:0.5;   
            h5{
                transform: scale(1.03);
        	    transition: 0.5s;
            }            
            img{
                transform: scale(1.03);
        	    transition: 0.5s;
            }    
        }
        img{
            width: 416px;
            height: 416px;
            @media(max-width:1320px){
                width: 336px;
                height: 336px;
            }
            @include pad(){
                width: 348px;
                height: 348px;
            }
        }
        h5{
         margin-top: 8px;
         color:$primary;
         font-size: $font-xl;
         line-height: 1.5;
         font-style: italic;
         font-weight: 900;
        }
    }
}

.design{
    background: url(../images/index-bg-md.png);
    @include picture();

    padding-top: 80px;
    padding-bottom: 80px;
    @include pad(){
    padding-top: 40px;
    padding-bottom: 40px;
    }
    .design-content{
        li{
            width: 50%;
            @include pad(){
                width: 100%;
            }
        }
        &-pic1{
          background:url(../images/home-section4-1-sm.png);
          height: 240px;         
          @include picture();
        }
        &-pic2{
            background:url(../images/home-section4-2.png);
            height: 240px;            
            @include picture();            
          }

        margin-top: 48px;
        @media(max-width:1300px){
            row-gap:24px;
        }
    }
    img{
        width: 648px;
        height: 240px;
    @media(max-width:1300px){
        width: 696px;
        
    @include pad(){
        width: 348px;
    }
    }
    }
    h3{
        color:white;
    }
    h5{
        color:$primary;
        font-size: $font-xl;
        line-height: 1.5;
        font-style: italic;
        font-weight: 900;
        background-color: white;       
      }
    :first-child h5{
        border-right: 1px solid rgb(159, 165, 159);
    }
    }
    
    
    .recommend{
        padding-top: 80px;
        padding-bottom: 80px;
        @include pad(){
            padding-top:40px;
            padding-bottom: 40px;  
        }
       .recommend-content{
        column-gap: 24px;
        margin-top: 48px;
        row-gap: 24px;
        @include pad(){
            row-gap: 16px;
            column-gap: 24px;
        }   
        li{
            width:calc((100% - 72px)/ 4);
            @media (max-width:992px){
                width: calc((100% - 24px)/2);
            }
            @include pad(){
                width: 100%;
            }   
        }
       }
       .recommend-word{
        padding: 16px;
        font-size: $font-sm;
        line-height: 1.5;
        text-align: left;
        height: 205px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border-radius: 0 0 5px 5px;
        p{
            margin-top: 8px;
        }
        
       }
       span{
        font-size: 14px;
        line-height: 1.5;
        color: #707070;
       }
    }

    .contact-us{
        padding-top: 80px;
        padding-bottom: 80px;
        background-color: #FBF2F2;
        @include pad(){
            padding-top: 40px;
            padding-bottom: 40px; 
        }
        .contact-us-form{
            width: 50%;
            text-align: left;
            @media(max-width:992px){
                width: 75%;
            }
            @include pad(){
                width: 100%;
            }
            p{
                font-size: 20px;
                line-height: 1.5;
                padding-top: 48px;
            }
        }
        .contact-form-content{
            font-size: $font-sm;
            line-height: 1.5;
            margin-top: 8px;
           label{
            margin-top: 16px;
            margin-bottom: 8px;
           }
           input{
            font-size: $font-sm;
            line-height: 1.5;
            height: 36px;
            background-color: transparent;
            padding: 6px 0px 6px 12px;
            width: 100%;
           }
          
           textarea{
            background-color: transparent;
            width: 100%;
           }

    
           input[type="checkbox"]{
            position: relative;
            width: 24px;
            height: 24px;
            border: 1px solid rgb(18, 18, 18);
            border-radius: 4px;
            cursor: pointer;
            appearance: none;
          
            &::before{
                position: absolute;
                content: '';
                display: block;
                border-style: solid;
                border-color: rgb(18, 18, 18);
                border-width: 0 2px 2px 0;
                transform: rotate(45deg);
                top: 4px;
                left: 6px;
                width: 6px;
                height: 12px;
                opacity: 0;
            } 
            &:checked{
                background: transparent;
                color: white;
                border-color: rgb(18, 18, 18);
                &::before{
                    opacity: 1;
                }
            }
           }
           .agree-bottom{           
            margin-top: 48px;
            font-size: $font-sm;
            line-height: 1.5;
            background-color:$primary;
            color:white;
            width:55%;
            height: 56px;
            &:hover{
              opacity:0.8;
            }
            @include pad(){
                width:100%;
            }             
           }
        }
        
    }
  
