header{
  background-color: $primary;
  .header-menu{
  padding: 16px 0px;
  }
  .menu{ 
    font-size: 20px;
    line-height: 1.5;
    column-gap: 64px;
    @include pad(){
     display: none;
    }
   
  }
   .menu a{
    color: white;    
    &:hover{
      color:$secondary;
    }
  }
  .menu-hamburger{
    display: none;
    width: 30px;
    height: 20px;
    @include pad(){
      display: block;      
    }
  }  
  }
.mobile-hamburger{
  display: none;
  background-color:$primary;
  font-size: 20px;
  &:active{
    display: block;
  }
  li{
    border-top: 1px solid rgb(252, 251, 251);
    border-left: 1px solid rgb(252, 251, 251);
    border-right: 1px solid rgb(252, 251, 251);
  }
  .mobile-hamburger-leave{
    border: 1px solid rgb(252, 251, 251);
  }
  a{
    display: block;
    color:white;
    padding: 20px 80px;
  }
}

.logo a{
background: url(../images/logo-new.png) no-repeat;
display: block;
text-indent: 101%;
overflow: hidden;
white-space: nowrap;
width: 80px;
height: 49px;
}


footer{
  background-color: $primary;
  color: white;
  .footer-menu-all{
    font-size: 20px;
    line-height: 1.5;
    color:white;
    padding-top: 48px ;
    a{color: white;
      &:hover{
        color:$secondary;
      }
    }
    border-bottom: 1px solid white;
    @media(max-width:767px){
      padding-top: 24px ;
    }
    }
  }
  .footer-menu-list{
    column-gap: 48px;
    margin-bottom: 36px;
    @media(max-width:767px){
      display: none;
      
    }
    }  
    .footer-menu-list a{
    color: white;
    &:hover{
      color:$secondary;
    }
   }
   .footer-icon{
    column-gap: 16px;
    @include pad(){
      column-gap: 8px;
    }
  }
   .footer-icon img{
    width: 48px;
    height: 48px;
    @include pad(){
      width: 24px;
      height: 24px;
    }
  }
  .footer-contact{       
    margin-bottom: 32px;
    font-size: 36px;
    line-height: 1.5;
    @include pad(){
      font-size: 16px;
      margin-bottom: 24px;
      margin-top: 0;
    }
  }
  .footer-contact img{
    margin-right: 16px;    
    width: 44px;
    height: 44px;
    @include pad(){
      margin-right: 8px;
      width: 24px;
      height: 24px;
    }
  }
  .footer-detail{
    margin-top: 32px;
    font-size: 16px;
    line-height: 1.5;
    @include pad(){
      margin-top: 24px;
      flex-direction: column;
    }
    }

  
  .footer-detail-list{
    font-size: 14px;
    line-height: 1.5;
    column-gap: 48px;
    padding-bottom: 32px;
     a{
      color: white;
       &:hover{
      color:$secondary;
    }
    }
    @include pad(){
      padding-bottom: 24px;
      font-size: $font-sm;
      flex-direction: column;
      column-gap: 0px;
      li{
          margin-top: 8px;
      }
    }
  }
  
