
//text
.text-center{
    text-align: center;
}


//flex
.d-f{
    display: flex;
}
.flex-column{
    flex-direction: column;
}
.flex-wrap{
    flex-wrap: wrap;
}
.space-between{
    display: flex;
    justify-content: space-between;
}

.justify-center{
    display: flex;
    justify-content: center;
}
.justify-end{
    display: flex;
    justify-content:flex-end;
}
.align-center{
    display: flex;
    align-items: center;
}
.align-end{
    display: flex;
    align-items: flex-end;
}
//間距
.pt72{
    padding-top: 72px;
}
.pb32{
    padding-bottom: 32px;
}
.mt8{
    margin-top: 8px;
}

.mt32{
    margin-top: 32px;
}
.mt36{
    margin-top: 36px;
}
.mt48{
    margin-top: 48px;
}

.mt72{
    margin-top: 72px;
}
.mr16{
    margin-right: 16px;
}
.mt16{
    margin-top: 16px;
}
.mb32{
    margin-bottom: 32px;
}

