//flex
.d-f{
    display: flex;
}

.space-between{
    display: flex;
    justify-content: space-between;
}
.align-center{
    display: flex;
    align-items: center;
}
//間距
.pb32{
    padding-bottom: 32px;
}
.mt8{
    margin-top: 8px;
}

.mt32{
    margin-top: 32px;
}
.mt36{
    margin-top: 36px;
}
.mt48{
    margin-top: 48px;
}

.mr16{
    margin-right: 16px;
}
.mt16{
    margin-top: 16px;
}
.mb32{
    margin-bottom: 32px;
}