/* [http://meyerweb.com/eric/tools/css/reset/](http://meyerweb.com/eric/tools/css/reset/)
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle; }

body {
  font-family: "Roboto", sans-serif, "Noto Sans TC", sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans TC", "Microsoft JhengHei", Roboto, "Helvetica Neue", Arial, sans-serif; }

.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 12px; }
  @media (max-width: 720px) {
    .container {
      max-width: 720px; } }
  @media (max-width: 374px) {
    .container {
      max-width: 374px; } }

a {
  text-decoration: none; }

h3 {
  font-size: 48px;
  line-height: 1.5;
  color: #650300;
  font-weight: 700; }
  @media (max-width: 720px) {
    h3 {
      font-size: 24px; } }

.text-center {
  text-align: center; }

.text-left {
  text-align: left; }

.d-f {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.flex-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.space-between {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.space-around {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around; }

.space-evenly {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly; }

.justify-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.justify-end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

.align-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.align-end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end; }

.pt72 {
  padding-top: 72px; }

.pb32 {
  padding-bottom: 32px; }

.mt8 {
  margin-top: 8px; }

.mt32 {
  margin-top: 32px; }

.mt36 {
  margin-top: 36px; }

.mt48 {
  margin-top: 48px; }

.mt72 {
  margin-top: 72px; }

.mr16 {
  margin-right: 16px; }

.mt16 {
  margin-top: 16px; }

.mb32 {
  margin-bottom: 32px; }

header {
  background-color: #AA0601; }
  header .header-menu {
    padding: 16px 0px; }
  header .menu {
    font-size: 20px;
    line-height: 1.5;
    -webkit-column-gap: 64px;
       -moz-column-gap: 64px;
            column-gap: 64px; }
    @media (max-width: 720px) {
      header .menu {
        display: none; } }
  header .menu a {
    color: white; }
    header .menu a:hover {
      color: #650300; }
  header .menu-hamburger {
    display: none;
    width: 30px;
    height: 20px; }
    @media (max-width: 720px) {
      header .menu-hamburger {
        display: block; } }

.mobile-hamburger {
  display: none;
  background-color: #AA0601;
  font-size: 20px; }
  .mobile-hamburger.active {
    display: block; }
  .mobile-hamburger li {
    border-top: 1px solid #fcfbfb;
    border-left: 1px solid #fcfbfb;
    border-right: 1px solid #fcfbfb; }
  .mobile-hamburger .mobile-hamburger-leave {
    border: 1px solid #fcfbfb; }
  .mobile-hamburger a {
    display: block;
    color: white;
    padding: 20px 80px; }

.logo a {
  background: url(../images/logo-new.png) no-repeat;
  display: block;
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap;
  width: 80px;
  height: 49px; }

footer {
  background-color: #AA0601;
  color: white; }
  footer .footer-menu-all {
    font-size: 20px;
    line-height: 1.5;
    color: white;
    padding-top: 48px;
    border-bottom: 1px solid white; }
    footer .footer-menu-all a {
      color: white; }
      footer .footer-menu-all a:hover {
        color: #650300; }
    @media (max-width: 767px) {
      footer .footer-menu-all {
        padding-top: 24px; } }

.footer-menu-list {
  -webkit-column-gap: 48px;
     -moz-column-gap: 48px;
          column-gap: 48px;
  margin-bottom: 36px; }
  @media (max-width: 767px) {
    .footer-menu-list {
      display: none; } }

.footer-menu-list a {
  color: white; }
  .footer-menu-list a:hover {
    color: #650300; }

.footer-icon {
  -webkit-column-gap: 16px;
     -moz-column-gap: 16px;
          column-gap: 16px; }
  @media (max-width: 720px) {
    .footer-icon {
      -webkit-column-gap: 8px;
         -moz-column-gap: 8px;
              column-gap: 8px; } }

.footer-icon img {
  width: 48px;
  height: 48px; }
  @media (max-width: 720px) {
    .footer-icon img {
      width: 24px;
      height: 24px; } }

.footer-contact {
  margin-bottom: 32px;
  font-size: 36px;
  line-height: 1.5; }
  @media (max-width: 720px) {
    .footer-contact {
      font-size: 16px;
      margin-bottom: 24px;
      margin-top: 0; } }

.footer-contact img {
  margin-right: 16px;
  width: 44px;
  height: 44px; }
  @media (max-width: 720px) {
    .footer-contact img {
      margin-right: 8px;
      width: 24px;
      height: 24px; } }

.footer-detail {
  margin-top: 32px;
  font-size: 16px;
  line-height: 1.5; }
  @media (max-width: 720px) {
    .footer-detail {
      margin-top: 24px;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; } }

.footer-detail-list {
  font-size: 14px;
  line-height: 1.5;
  -webkit-column-gap: 48px;
     -moz-column-gap: 48px;
          column-gap: 48px;
  padding-bottom: 32px; }
  .footer-detail-list a {
    color: white; }
    .footer-detail-list a:hover {
      color: #650300; }
  @media (max-width: 720px) {
    .footer-detail-list {
      padding-bottom: 24px;
      font-size: 16px;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-column-gap: 0px;
         -moz-column-gap: 0px;
              column-gap: 0px; }
      .footer-detail-list li {
        margin-top: 8px; } }

.banner {
  background: url(../images/home-header.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 787px;
  color: #650300; }
  .banner .container {
    height: 100%; }
  @media (max-width: 720px) {
    .banner {
      padding: 0px 24px;
      background: url(../images/home-header-sm.png);
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover; } }
  @media (max-width: 374px) {
    .banner {
      padding: 0 14px;
      height: 396px; } }
  .banner h2 {
    font-size: 36px;
    line-height: 1.5; }
    @media (max-width: 720px) {
      .banner h2 {
        font-size: 16px; } }
  .banner h4 {
    font-size: 64px;
    line-height: 1.5;
    font-weight: 900; }
    @media (max-width: 720px) {
      .banner h4 {
        font-size: 24px; } }
  .banner .banner-bottom {
    margin-top: 10px;
    background: #AA0601;
    color: white;
    padding: 6px 12px;
    font-size: 20px;
    line-height: 1.5; }
    .banner .banner-bottom:hover {
      background-color: white;
      color: #AA0601; }
    @media (max-width: 374px) {
      .banner .banner-bottom {
        margin-top: 8px; } }

.special {
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #FBF2F2; }
  @media (max-width: 720px) {
    .special {
      padding-top: 40px;
      padding-bottom: 40px; } }
  .special h5 {
    font-size: 24px;
    line-height: 1.5;
    color: #650300;
    font-weight: 700;
    margin-top: 24px; }
  .special p {
    font-size: 16px;
    line-height: 1.5;
    text-align: left;
    margin-top: 8px; }
  .special .special-card {
    margin-top: 24px;
    -webkit-column-gap: 24px;
       -moz-column-gap: 24px;
            column-gap: 24px; }
    @media (max-width: 925px) {
      .special .special-card {
        row-gap: 36px; } }
    @media (max-width: 720px) {
      .special .special-card {
        margin-top: 32px; } }
    .special .special-card img {
      width: 100px;
      height: 100px; }
  .special .special-card li {
    width: 23%; }
    @media (max-width: 925px) {
      .special .special-card li {
        width: 48%; } }
    @media (max-width: 625px) {
      .special .special-card li {
        width: 100%; } }

.classic {
  padding-top: 80px;
  padding-bottom: 80px; }
  @media (max-width: 720px) {
    .classic {
      padding-top: 40px;
      padding-bottom: 40px; } }
  .classic .classic-card {
    margin-top: 48px;
    -webkit-column-gap: 24px;
       -moz-column-gap: 24px;
            column-gap: 24px; }
    @media (max-width: 1080px) {
      .classic .classic-card {
        row-gap: 24px; } }
    @media (max-width: 1080px) {
      .classic .classic-card li {
        width: 100%; } }
    .classic .classic-card a:hover {
      opacity: 0.5; }
      .classic .classic-card a:hover h5 {
        -webkit-transform: scale(1.03);
            -ms-transform: scale(1.03);
                transform: scale(1.03);
        -webkit-transition: 0.5s;
        -o-transition: 0.5s;
        transition: 0.5s; }
      .classic .classic-card a:hover img {
        -webkit-transform: scale(1.03);
            -ms-transform: scale(1.03);
                transform: scale(1.03);
        -webkit-transition: 0.5s;
        -o-transition: 0.5s;
        transition: 0.5s; }
    .classic .classic-card img {
      width: 416px;
      height: 416px; }
      @media (max-width: 1320px) {
        .classic .classic-card img {
          width: 336px;
          height: 336px; } }
      @media (max-width: 720px) {
        .classic .classic-card img {
          width: 348px;
          height: 348px; } }
    .classic .classic-card h5 {
      margin-top: 8px;
      color: #AA0601;
      font-size: 48px;
      line-height: 1.5;
      font-style: italic;
      font-weight: 900; }

.design {
  background: url(../images/index-bg-md.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding-top: 80px;
  padding-bottom: 80px; }
  @media (max-width: 720px) {
    .design {
      padding-top: 40px;
      padding-bottom: 40px; } }
  .design .design-content {
    margin-top: 48px; }
    .design .design-content li {
      width: 50%; }
      @media (max-width: 720px) {
        .design .design-content li {
          width: 100%; } }
    .design .design-content-pic1 {
      background: url(../images/home-section4-1-sm.png);
      height: 240px;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover; }
    .design .design-content-pic2 {
      background: url(../images/home-section4-2.png);
      height: 240px;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover; }
    @media (max-width: 1300px) {
      .design .design-content {
        row-gap: 24px; } }
  .design img {
    width: 648px;
    height: 240px; }
    @media (max-width: 1300px) {
      .design img {
        width: 696px; } }
  @media (max-width: 1300px) and (max-width: 720px) {
    .design img {
      width: 348px; } }
  .design h3 {
    color: white; }
  .design h5 {
    color: #AA0601;
    font-size: 48px;
    line-height: 1.5;
    font-style: italic;
    font-weight: 900;
    background-color: white; }
  .design .design-content-double {
    border-right: 1px solid #9fa59f; }

.recommend {
  padding-top: 80px;
  padding-bottom: 80px; }
  @media (max-width: 720px) {
    .recommend {
      padding-top: 40px;
      padding-bottom: 40px; } }
  .recommend .recommend-content {
    -webkit-column-gap: 24px;
       -moz-column-gap: 24px;
            column-gap: 24px;
    margin-top: 48px;
    row-gap: 24px; }
    @media (max-width: 720px) {
      .recommend .recommend-content {
        row-gap: 16px;
        -webkit-column-gap: 24px;
           -moz-column-gap: 24px;
                column-gap: 24px; } }
    .recommend .recommend-content li {
      width: calc((100%-72px)/4); }
      @media (max-width: 720px) {
        .recommend .recommend-content li {
          width: 100%; } }
  .recommend .recommend-word {
    padding: 16px;
    font-size: 16px;
    line-height: 1.5;
    text-align: left;
    height: 205px;
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 0 0 5px 5px; }
    .recommend .recommend-word p {
      margin-top: 8px; }
  .recommend span {
    font-size: 14px;
    line-height: 1.5;
    color: #707070; }

.contact-us {
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #FBF2F2; }
  @media (max-width: 720px) {
    .contact-us {
      padding-top: 40px;
      padding-bottom: 40px; } }
  .contact-us .contact-us-form {
    width: 50%;
    text-align: left; }
    @media (max-width: 992px) {
      .contact-us .contact-us-form {
        width: 75%; } }
    @media (max-width: 720px) {
      .contact-us .contact-us-form {
        width: 100%; } }
    .contact-us .contact-us-form p {
      font-size: 20px;
      line-height: 1.5;
      padding-top: 48px; }
  .contact-us .contact-form-content {
    font-size: 16px;
    line-height: 1.5;
    margin-top: 8px; }
    .contact-us .contact-form-content label {
      margin-top: 16px;
      margin-bottom: 8px; }
    .contact-us .contact-form-content input {
      font-size: 16px;
      line-height: 1.5;
      height: 36px;
      background-color: transparent; }
    .contact-us .contact-form-content textarea {
      background-color: transparent; }
    .contact-us .contact-form-content .checkbox input {
      margin-top: 16px;
      width: 24px;
      height: 24px; }
    .contact-us .contact-form-content .agree-bottom {
      margin-top: 48px;
      font-size: 16px;
      line-height: 1.5;
      background-color: #AA0601;
      color: white;
      width: 416px;
      height: 56px; }
      .contact-us .contact-form-content .agree-bottom:hover {
        opacity: 0.8; }
      @media (max-width: 720px) {
        .contact-us .contact-form-content .agree-bottom {
          width: 348px; } }

.product-banner {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 12px; }
  @media (max-width: 720px) {
    .product-banner {
      padding: 0px; } }

.product-menu {
  text-align: center;
  font-size: 32px;
  line-height: 1.5; }
  @media (max-width: 720px) {
    .product-menu {
      font-size: 16px; } }
  .product-menu li {
    padding: 24px 0px;
    display: block;
    width: 100%;
    border-left: 1px solid #bfbdbd; }
    .product-menu li:nth-child(3) {
      border-right: 1px solid #c6c6c6; }
    .product-menu li:hover {
      border-bottom: 8px solid #AA0601; }
  .product-menu a {
    color: black; }

.product-picture-content li {
  width: 100%;
  height: 296px; }
  .product-picture-content li:first-child {
    background: url(../images/product-header-3.png) center center;
    background-repeat: no-repeat;
    background-size: cover; }
  .product-picture-content li:last-child {
    background: url(../images/product-header-4.png) center center;
    background-repeat: no-repeat;
    background-size: cover; }
  @media (max-width: 720px) {
    .product-picture-content li:first-child {
      background: url(../images/product-header-sm-3.png) center center;
      background-repeat: no-repeat;
      background-size: cover; }
    .product-picture-content li:last-child {
      background: url(../images/product-header-sm-4.png) center center;
      background-repeat: no-repeat;
      background-size: cover; } }

.new-collection {
  padding-top: 80px; }
  @media (max-width: 720px) {
    .new-collection {
      padding-top: 40px; } }
  .new-collection h2 {
    font-size: 42px;
    line-height: 1.5; }
    @media (max-width: 720px) {
      .new-collection h2 {
        font-size: 24px; } }
  .new-collection h3 {
    font-size: 32px;
    line-height: 1.5;
    color: black;
    font-weight: 400; }
    @media (max-width: 720px) {
      .new-collection h3 {
        font-size: 24px; } }
  .new-collection .new-collection-list {
    margin-top: 32px;
    -webkit-column-gap: 24px;
       -moz-column-gap: 24px;
            column-gap: 24px;
    row-gap: 80px;
    margin-bottom: 80px;
    font-size: 24px;
    line-height: 1.5; }
    @media (max-width: 720px) {
      .new-collection .new-collection-list {
        margin-top: 24px;
        row-gap: 40px; }
        .new-collection .new-collection-list .new-collection-list-all {
          max-width: 100%; } }
  @media (max-width: 720px) and (max-width: 374px) {
    .new-collection .new-collection-list {
      row-gap: 24px;
      margin-bottom: 64px; } }
    .new-collection .new-collection-list img {
      width: 416px;
      height: 224px; }
      @media (max-width: 880px) {
        .new-collection .new-collection-list img {
          width: 336px; } }
      @media (max-width: 720px) {
        .new-collection .new-collection-list img {
          width: 348px; } }
    .new-collection .new-collection-list span {
      color: #AA0601;
      font-weight: 500; }
  .new-collection .new-collection-list-color li:first-child {
    content: "";
    display: inline-block;
    background-color: #5F3E2D;
    height: 24px;
    width: 24px;
    margin-right: 8px;
    border-radius: 15%; }
  .new-collection .new-collection-list-color li:last-child {
    content: "";
    display: inline-block;
    background-color: #B75929;
    height: 24px;
    width: 24px;
    border-radius: 15%; }

.pagination {
  font-size: 19px;
  line-height: 1.5;
  margin-bottom: 80px; }
  @media (max-width: 720px) {
    .pagination {
      font-size: 16px;
      margin-bottom: 64px; } }
  .pagination .pagination-item {
    border-top: 1px solid #555555;
    border-left: 1px solid #555555;
    border-bottom: 1px solid #555555; }
    .pagination .pagination-item a {
      display: inline-block;
      color: #555555;
      padding: 12px 16px; }
      @media (max-width: 720px) {
        .pagination .pagination-item a {
          padding: 12px; } }
    .pagination .pagination-item :hover {
      background-color: #000000;
      color: #e5e5e5; }
  .pagination .pagination-item-br {
    border: 1px solid #555555; }
    .pagination .pagination-item-br a {
      display: inline-block;
      color: #555555;
      padding: 12px 16px; }
      @media (max-width: 720px) {
        .pagination .pagination-item-br a {
          padding: 12px; } }
    .pagination .pagination-item-br :hover {
      background-color: #000000;
      color: #e5e5e5; }

/*# sourceMappingURL=all.css.map */
